.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin-bottom:20px;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

a{
  background:rgb(226, 226, 235);
  color:black;
  padding:5px;
  border-radius:6px;
  text-decoration: none;
  transition:  all .3s ease-in-out
}

a:hover{
  background:rgb(238, 61, 61);
  color:white;
}

#btn{
  height: 50px;
  width: 100px;
  display: block;
  margin: auto;
  border: 3px solid rgb(173, 169, 169);
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
}

#btn:hover{
  cursor: pointer;
  background-color: rgb(39, 36, 36);
  width: 125px;
  height: 60px;
  -webkit-transition: all 500ms ease;
}

#Refresh{
  height: 50px;
  width: 100px;
  display: block;
  margin: auto;
  border: 3px solid rgb(160, 154, 154);
  border-radius: 10px;
  background-color: black;
  color: white;
}

#Refresh:hover{
  cursor: pointer;
  background-color: rgb(39, 36, 36);
  width: 125px;
  height: 60px;
  -webkit-transition: all 500ms ease;
}